.song-text {
  text-align: center;
  margin-bottom: 20px;
}

.detail-youtube {
  display: block;
}

.detail-btn {
  min-width: 225px;
}

.videogular-container vg-overlay-play, [videogular] vg-overlay-play {
  width: 0;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.overlayPlayContainer {
  left: -50px;
}
