<div class="col-xs-12 col-sm-3">
  <div class="spacer">&nbsp;</div>
  <div class="col-xs-12 col-sm-12 song-text blue neon-font">
    <h2 class="text-wrap">{{detail.selectedSong.artist}}</h2>
    <h2 class="text-wrap">{{detail.selectedSong.title}}</h2>
  </div>
  <div class="spacer-2x col-sm-12 hidden-xs">&nbsp;</div>
  <div class="col-xs-12 col-sm-12">
    <div class="text-center col-xs-6 col-sm-12">
      <a class="btn btn-primary btn-lg outline neon-font blue"
          href="index.html#!/">
          <i class="glyphicon glyphicon-home"></i>
          Home
      </a>
    </div>
    <div class="spacer hidden-xs">&nbsp;</div>
    <div class="text-center col-xs-6 col-sm-12" ng-if="detail.isLoggedIn()">
      <a class="btn btn-primary btn-lg outline neon-font blue"
          ng-click="main.openLogout()">
          Logout
      </a>
    </div>
    <div class="spacer hidden-xs">&nbsp;</div>
    <div class="text-center col-xs-6 col-sm-12" ng-if="!detail.isLoggedIn()">
      <a class="btn btn-primary btn-lg outline neon-font blue"
          ng-click="main.openLogin()">
          Login
      </a>
    </div>
    <div class="spacer visible-xs">&nbsp;</div>
  </div>
</div>

<div class="col-xs-12 col-sm-6">
  <div class="spacer hidden-xs">&nbsp;</div>
  <div class="detail-youtube border-glow text-center" ng-class="detail.selectedSong.colour">
    <videogular class="videogular-container">
    			<vg-media vg-src="detail.getVideoLink()"></vg-media>

    			<vg-controls>
    				<vg-play-pause-button></vg-play-pause-button>
    				<!-- <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display> -->
    				<vg-scrub-bar>
    					<vg-scrub-bar-current-time></vg-scrub-bar-current-time>
    				</vg-scrub-bar>
    				<!-- <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display> -->
    				<vg-volume>
    					<vg-mute-button></vg-mute-button>
    					<vg-volume-bar></vg-volume-bar>
    				</vg-volume>
    				<vg-fullscreen-button></vg-fullscreen-button>
    			</vg-controls>

    			<!-- <vg-overlay-play></vg-overlay-play> -->
    			<!-- <vg-poster vg-url='controller.config.plugins.poster'></vg-poster> -->
    		</videogular>

    <!-- <video width="100%" height="100%" controls>
      <source ng-src="{{detail.selectedSong.lyricVideo}}" type="video/mp4">
    Your browser does not support the video tag. Please use a more modern browser.
    </video> -->
  </div>
</div>

<div class="col-xs-12 col-sm-3">
  <div class="spacer">&nbsp;</div>
  <div class="text-center detail-btn" >
    <a class="btn btn-primary btn-lg outline neon-font detail-btn" ng-if="detail.isLoggedIn()"
        ng-class="detail.selectedSong.colour"
        target="_blank"
        href="https://firebasestorage.googleapis.com/v0/b/jukebox-temp.appspot.com/o/tasks.pdf?alt=media&token=84a14a0c-cad4-497e-962b-1334225e2939">
        Task
    </a>
    <a class="btn btn-primary btn-lg outline neon-font detail-btn" ng-if="!detail.isLoggedIn()"
        ng-class="detail.selectedSong.colour"
        ng-click="main.openLogin()">
        <span class="glyphicon glyphicon-star blue"></span>
        Task
    </a>
  </div>
  <div class="spacer-2x hidden-xs">&nbsp;</div>
  <div class="spacer visible-xs">&nbsp;</div>
  <div class="text-center">
    <a class="btn btn-primary btn-lg outline neon-font detail-btn" ng-if="detail.isLoggedIn()"
        ng-class="detail.selectedSong.colour"
        target="_blank">
        <span class="glyphicon glyphicon-star blue"></span>
        Comprehension
    </a>
    <a class="btn btn-primary btn-lg outline neon-font detail-btn" ng-if="!detail.isLoggedIn()"
        ng-class="detail.selectedSong.colour"
        ng-click="main.openLogin()">
        <span class="glyphicon glyphicon-star blue"></span>
        Comprehension
    </a>
  </div>
  <div class="spacer-2x hidden-xs">&nbsp;</div>
  <div class="spacer visible-xs">&nbsp;</div>
  <div class="text-center">
    <a class="btn btn-primary btn-lg outline neon-font detail-btn"
        ng-class="detail.selectedSong.colour"
        ng-click="detail.videoType = 'music'">
        <i class="glyphicon glyphicon-film"></i>
        Music Video
    </a>
  </div>
  <div class="spacer-2x hidden-xs">&nbsp;</div>
  <div class="spacer visible-xs">&nbsp;</div>
  <div class="text-center">
    <a class="btn btn-primary btn-lg outline neon-font detail-btn"
        ng-class="detail.selectedSong.colour"
        ng-click="detail.videoType = 'lyric'">
        <i class="glyphicon glyphicon-film"></i>
        Lyric Video
    </a>
  </div>

</div>
