<div class="col-sm-12">
  <div class="detail-youtube border-glow" ng-class="detail.selectedSong.colour">
    <ng-youtube-embed
      url="detail.selectedSong.lyricVideo"
      autoplay="false"
      disablekb="false"
      fs="true"
      width=100%
      ivloadpolicy=false
      playsinline=true
      rel=false
      showinfo=false
      controls=true>
    </ng-youtube-embed>
  </div>
</div>

  <div class="song-text col-sm-6 neon-font spacer" ng-class="detail.selectedSong.colour">
    <h3 class="text-wrap">{{detail.selectedSong.artist}} - {{detail.selectedSong.title}}</h3>
  </div>
  <div class="col-sm-2 text-center spacer">
    <a class="btn btn-primary btn-lg outline neon-font"
        ng-class="detail.selectedSong.colour">
        <i class="glyphicon glyphicon-cloud-download"></i>
        Download Tasks
    </a>
  </div>
  <div class="col-sm-offset-1 col-sm-2 text-center spacer">
    <a class="btn btn-primary btn-lg outline neon-font"
        ng-class="detail.selectedSong.colour"
        href="/">
        <i class="glyphicon glyphicon glyphicon-repeat"></i>
        Back
    </a>
  </div>
