<div class="modal-header">
    <h3 class="modal-title neon-font orange">Annual Membership</h3>
</div>
<div class="modal-body">
  <h3>Annual Membership Fee:</h3>
  <p>&pound;48 per school for full access to the site and material for the whole acedemic year (Sept - Aug)</p>

  <p>*All new subscriptions are calculated from the day of registration to August 31st. 
    Subsequent Memberships are then billed annually from September 1st.</p>

  <p>By signing up you agree to the Reading Explorers *Terms &amp; Conditions.</p>

  <button class="btn btn-primary btn-lg outline neon-font" type="button" ng-click="rc.close()">Close <i class="glyphicon glyphicon-remove"></i></button>
</div>
