<nav class="col-sm-12 header" ng-class="nc.colour">
  <div class="col-sm-1">
      <a href="/">
        <p class="neon-font" ng-class="nc.colour"><i class="glyphicon glyphicon-home"></i>&nbsp;Home</p>
      </a>
    </h2>
  </div>

  <div class="col-sm-10 text-center">
    <h2 class="neon-font">Jukebox Comprehension</h2>
  </div>

  <div class="col-sm-1">
      <a ng-click="nc.openLoginForm()">
        <p class="neon-font" ng-class="nc.colour">Login&nbsp;<i class="glyphicon glyphicon-user"></i></p>
      </a>
  </div>
</nav>
