<div class="container">

  <div class="row">
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
  </div>

  <div class="row">
    <div>
      <div style="height: 305px">
        <uib-carousel active="0" no-wrap="false" interval="0">
          <uib-slide ng-repeat="song in main.selectedGenre track by song.id">
            <img class="img-circle" ng-src="{{song.image}}" style="margin:auto;" >
            <div class="carousel-caption">
              <p>{{song.artist}}</p>
              <p>{{song.title}}</p>
            </div>
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="row">
        <div ng-repeat="genreKey in main.genreKeys" class="col-sm-6">
            <div class="thumbnail text-center">
              <h2>
                <button class="btn btn-info" ng-click="main.setGenre(genreKey)">
                  <i class="glyphicon glyphicon-music"></i>
                </button>
                {{genreKey | uppercase}}
              </h2>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
