
  <!-- Modal content-->
  <div class="modal-content">

    <div class="modal-header">
      <div class="col-sm-11">
        <h3 class="modal-title neon-font blue">Jukebox Comprehension Logout</h3>
      </div>
      <div class="col-sm-1 text-right">
        <a><i class="glyphicon glyphicon-remove blue" ng-click="logout.close()"></i></a>
      </div>
    </div>
    <div class="modal-body">

      <h4 class="modal-title neon-font blue">Are you sure you want to logout?</h4>
      <div class="form-group spacer">
          <button class="btn btn-lg btn-primary btn-lg outline neon-font blue" ng-click="logout.logout()">logout</button>
      </div>

    </div>  <!-- Modal Body END -->
  </div>
</div>
