<div class="modal-header">
    <div class="col-sm-11">
      <h3 class="modal-title neon-font blue">CPD Training</h3>
    </div>
    <div class="col-sm-1 text-right">
      <a><i class="glyphicon glyphicon-remove blue" ng-click="mc.close()"></i></a>
    </div>
</div>
<div class="modal-body">

  <h4 class="neon-font blue">Metronomics</h4>

  <p>A Professional Development course that will help you understand the proven
    benefits of using songs, lyrics and music videos to boost achievement and
    develop the whole child. Created to help teachers embed core Literacy skills
    across the wider curriculum, this course focuses on the fascinating research
    of Metronomics: the science of how music enables the brain to acquire
    language both quickly and securely. </p>

  <p>It will also look at the wider benefits of using song lyrics in the
      classroom and explain the best ways in which to use music videos
      effectively to maximise their impact. </p>

  <p>Packed full of practical and engaging activities, there is no doubt that
    you will love this fun and uplifting course.</p>
  <p>&nbsp;</p>

    <div class="form-group">
        <a class="btn btn-lg btn-primary btn-lg outline neon-font blue"
        href="http://www.johnmurraycpd.co.uk/metronomics" target="_blank" >Find Out More</a>
    </div>
</div>
