
<div class="col-sm-3 genre-container">
    <div>
      <h2 class="text-intro neon-font blue">A place where music and video improve the mind &amp; nurture the soul.</h2>
    </div>

    <div class="genre-button spacer-5x">
      <a class="btn btn-primary btn-lg outline neon-font blue"
          ng-click="main.openContact()">
        <span class="glyphicon glyphicon-account"></span> Contact Us
      </a>
    </div>

    <div class="genre-button" ng-if="!main.isLoggedIn()">
      <a class="btn btn-primary btn-lg outline neon-font blue"
          ng-click="main.openLogin()">
        <span class="glyphicon glyphicon-account"></span> Login
      </a>
    </div>

</div>

<div class="col-sm-6">
  <div class="border-glow" ng-class="menu.genreColour">
    <uib-carousel active="0" no-wrap="false" interval="0">
      <uib-slide ng-repeat="song in menu.selectedGenre track by song.id" >
        <div>
          <a ng-href="index.html#!/songs/{{song.genre}}/{{song.id}}">
            <!-- class="img img-container img-responsive"  style="margin:auto;" -->
              <img width="100%" ng-src="{{song.image}}">
          </a>
        </div>
        <div class="text-center" ng-class="menu.genreColour">
          <h3 class="song-title">{{song.artist}} - {{song.title}}</h3>
        </div>
      </uib-slide>
    </uib-carousel>
  </div>

</div>

<div class="col-sm-3 genre-container">
  <div ng-repeat="genreKey in menu.genreKeys">
    <div class="genre-button">
      <a class="btn btn-primary btn-lg outline neon-font"
          ng-class="menu.genreColourByKey(genreKey)"
          ng-click="menu.setGenre(genreKey)">
        {{genreKey}}
      </a>
    </div>
  </div>
</div>
