.img-container {
   width: 100%;
   display: block;
}

.genre-container {
  text-align: center;
}

.genre-button {
  padding-top: 40px;
}

.genre-key {
  cursor: pointer;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  font-size: 100px !important;
  width: inherit;
}
