.img-container {
   width: 100%;
   display: block;
}

.genre-container {
  text-align: center;
}

.genre-button {
  padding-top: 30px;
}

.genre-key {
  cursor: pointer;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
  font-size: 100px !important;
  width: inherit;
  color: @blue
}

.carousel-control.right {
  padding-right: 215px !important;
}

.carousel .carousel-indicators { visibility: hidden; }

.text-intro {
  padding-top: 25px;
}

.song-title {
  margin-top: 5px;
  margin-bottom: 5px;
}
